.packages-container {
  text-align: center;
  margin: 20px auto;
}

.packages-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.buttons-row {
  display: flex;
  justify-content: center;
  gap: 10px; /* רווח בין הכפתורים */
}

.package-button {
  background-color: #eaf6e6;
  border: 1px solid #c7dfc7;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.package-button:hover {
  background-color: #d7ecd4;
}
