<div class="image-container">
  <a [routerLink]="['/ShowPackages']">
    <button class="rectangle-122-button">
      <img src="Rectangle 122.png" alt="New Image" class="rectangle-122">
    </button>
  </a>
  <div class="text-content">
    לחבילות השוות
  </div>
  <div class="textt-content">
    בית        אודות        אבחון-מקוון        חבילות        צור-קשר
  </div>
  <img src="Vector.png" alt="New Image" class="Vector">
  <img src="Rectangle.png" alt="My Image" class="my-image">
  <img src="Rectangle 97.png" alt="My Imagee" class="my-imagee">
  <div class="text-overlay">
    לקריאת העתיד
  </div>
  <div class="caption-two">
    ?מחשבים מסלול <br>
    ?מחפשים כיוון שיוביל להצלחה
  </div>
  <div class="caption-three">
    יחד נגלה את הכישורים היחודיים שלך<br>
    ונכוון אותך למקצוע המושלם עבורך
  </div>
  <button class="cta-button">להרשמה</button>
 
  <div class="new-caption">
    הכוונה לבחירת מקצוע מורכבת מכמה שלבים
  </div>
  <img src="Rectangle 88.png" alt="New Image" class="new-image">
  <div class="number-one">
    1
  </div>
  <div class="skill-assessment">
    <span class="bold-text">
      אבחון כישורים חשיבתיים ואישיותיים<br>
    </span>
    <span class="normal-text">
      התאמת האינטלגנציה לעולם התעסוקה המגוון בשילוב הכישורים האישיים והבין אישיים הבאים לידי ביטוי בעולם העבודה. הקשר בין הביצועים בתחומי הידע השונים בלתי נפרד מהאישיות של העובד. המעסיקים מחפשים מעבר לחלק המקצועי גם אמינות, אחריות, שרותיות, יציבות ועוד.
    </span>
  </div>
  <div class="why-did-it-grow">
    למה עלה וגדל?
  </div>
  <div class="why-online-system">
    למה מערכת מקוונת?
  </div>
  <img src="Rectangle 94.png" alt="New Image" class="rectangle-94">
  <img src="Rectangle 95.png" alt="New Image" class="rectangle-95">
  <div class="miriam-smotny">
    מרים סמוטני<br>
   
</div>
<div class="your-text-class">
  ההסטוריה התעסוקתית העשירה שעברתי הביאה אותי לתובנות רבות המאפשרות להכיר טוב יותר תחומים רבים בעולם התעסוקה והבנת הצרכים של העובד. נכנסתי לעולם התעסוקה כמתכנתת, משם עברתי לשדה ההוראה ומזה 15 שנה אני בתחום הטיפול. שנים רבות עבדתי עם נוער מתבגר ואחת הדרכים לעורר לעשיה ולחזון היו עולם התעסוקה והתאמת תחומי עיסוק עתידיים לנוער. כך הגעתי לעולם היעוץ התעסוקתי ונוכחתי לראות שעבודה היא לא רק מקור הכנסה אלא חלק מבנין האישיות. התאמת תעסוקה לאדם היא השלמת הבניה שלו ומכאן אני רואה שליחות לעזור לאנשים למצוא את המקום שלהם...
</div>

<div class="rectangle-96">
<app-show-packages></app-show-packages> 
</div>
</div>
