@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Leon';
    src: url('../src/assets/fonts/Leon-ProductRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'pfennig';
    src: url('../src/assets/fonts/pfennig-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  .btn-primary {
  @apply bg-[#FF5D2C] text-white font-bold py-2 w-full max-w-[560px] rounded-full;
}
.btn-google {
  @apply bg-white text-black font-bold py-2 w-full max-w-[560px] rounded-full border border-[#323232];
}